.sectiona__main {
    background-image: linear-gradient(to bottom, $colorCardBackDark, $colorCardBackLight);
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--container {
        width: 240px;
        margin-top: 18px;
        padding-bottom: 40px;
    }
}

.main__button--container {
    padding: 20px 20px 20px 0;
    width: 240px;
}

.sectiona__preview {
    padding-bottom: 40px;
    justify-content: center;
}

.reset {
    font-family: $fontTertiary;
    font-weight: normal;
}

.card {
    width: 240px;
    height: 329px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;
}

.preview__bio {
    background-color: $colorWhite;
    padding-top: 21px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    &--rectangle {
        height: 42px;
        width: 5px;
        background: $colorPrimary;
    }
    &--name {
        font-family: $fontSecondary;
        font-size: 18px;
        font-weight: bold;
        padding: 0 0 4px 20px;
        display: inline;
    }
    &--job {
        color: $colorTextMenu;
        font-family: $fontSecondary;
        font-weight: 400;
        font-size: 16px;
        padding: 0 0 0 20px;
    }
}

.card__image {
    width: 240px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url($imagePath+"/default.jpg");
}

.card__social {
    height: 54px;
    background: $colorWhite;
    display: flex;
    &--div {
        padding-left: 10px;
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
}

.card__social--button {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid 2px #a2deaf;
    margin-left: 10px;
    padding: 6px;
    color: $colorCardBackDark;
}

@media all and (min-width: 768px) {
    .sectiona__main {
        height: 98vh;
        border-radius: 6px;
        &--container {
            /*  margin: 153px auto 260px; */
        }
    }
}
