// Core
@import "core/links";
@import "core/variables";
@import "core/typography";
// Components
@import "components/buttons";

.sectiona__main {
  background-image: linear-gradient(to bottom, $color-cardBackDark, $color-cardBackLight);
}

.sectiona__preview {
  width: 240px;
  height: 329px;
  padding: 88px 35px 40px 45px;
}

.sectiona__button {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px $color-white;
  background-color: transparent;
}

.sectiona__button--text {
  color: $color-textMenu;
  font-family: $font-tertiary;
  font-weight: 400;
}

.preview__bio--name {
  color: $color-tertiary;
  font-family: $font-secondary;
  font-size: 18px;
  background-color: $color-white;
  border-left: solid 2px $color-primary;
}

@media all and (min-width: 768px) {}
