// Core
@import "core/links";
@import "core/variables";
@import "core/typography";
// Components
@import "components/buttons";

.sectiona__main {
  background-image: linear-gradient(
    to bottom,
    $color-cardBackDark,
    $color-cardBackLight
  );
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--container {
    width: 240px;
    margin-top: 18px;
    padding-bottom: 40px;
  }
}

.main__button--container {
  padding: 20px 20px 20px 0;
  width: 240px;
}

.sectiona__preview {
  padding-bottom: 40px;
  justify-content: center;
}

.sectiona__button {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px $color-white;
  background-color: transparent;

  &--text {
    color: $color-textMenu;
    font-family: $font-tertiary;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    display: inline;
  }
}

.reset {
  font-family: $font-tertiary;
  font-weight: normal;
}

.card {
  width: 240px;
  height: 329px;
}

.preview__bio {
  background-color: $color-white;
  border-left: solid 5px $color-primary;
  padding-top: 21px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  &--rectangle {
    height: 42px;
    width: 5px;
    background: $color-primary;
  }

  &--name {
    font-family: $font-secondary;
    font-size: 18px;
    color: $color-tertiary;
    font-weight: bold;
    padding: 0 0 4px 20px;
    display: inline;
  }

  &--job {
    color: $color-textMenu;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16px;
    padding: 0 0 0 20px;
  }
}

.card__image {
  width: 240px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/homer.jpg");
}

.card__social {
  height: 54px;
  background: $color-white;
  display: flex;

  &--div {
    padding-left: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  &--button {
    width: $buttonWidth;
    height: $buttonHeight;
    border-radius: $button--border-radius;
    border: $buttonBorder;
    margin-left: 10px;
    padding: 6px;
    color: $color-tertiary;
  }
}

@media all and (min-width: 768px) {
  .sectiona__main {
    width: 329px;
    height: 812px;
    border-radius: 6px;

    &--container {
      margin: 153px auto 260px;
    }
  }
}

@media all and (min-width: 1024px) {
  .sectiona__main {
    width: 585px;
    height: 812px;
  }
}
