.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(to bottom, $colorIndexBackground, $colorWhite);
  width: 100%;
}

.colors {
  display: flex;
  justify-content: space-around;
  width: 100%;
  &_h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: $sizeText2;
    color: $colorTextMenu;
    font-family: $fontTertiary;
    text-transform: uppercase;
  }
}
.container_palettes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  display: flex;
  align-items: flex-end;
  margin: 10px 0 10px 0;
  .box {
    display: inline-block;
    width: 90px;
    height: 25px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-gap: 0;
    cursor: pointer;
    &__color1 {
      grid-column: 1/2;
      background-color: $colorTertiary;
    }
    &__color2 {
      grid-column: 2/3;
      background: $colorPrimary;
    }
    &__color3 {
      grid-column: 3/4;
      background: $colorQuaternary;
    }
    &__color4 {
      grid-column: 1/2;
      background-color: $palleteRedPrimary;
    }
    &__color5 {
      grid-column: 2/3;
      background: $palleteRedSecondary;
    }
    &__color6 {
      grid-column: 3/4;
      background: $palleteRedTertiary;
    }
    &__color7 {
      grid-column: 1/2;
      background-color: $palleteYellowPrimary;
    }
    &__color8 {
      grid-column: 2/3;
      background: $palleteYellowSecondary;
    }
    &__color9 {
      grid-column: 3/4;
      background: $palleteYellowTertiary;
    }
  }
}

.typography {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  &_h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: $sizeText2;
    color: $colorTextMenu;
    font-family: $fontTertiary;
    text-transform: uppercase;
  }
}

.container_typography {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_typo {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  .box_typo {
    display: inline-block;
    width: 90px;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    text-transform: capitalize;
    font-size: $sizeText;
  }
  .box_typo_prim {
    font-family: $fontSecondary;
  }
  .box_typo_sec {
    font-family: $fontOptionalPrimary;
  }
  .box_typo_ter {
    font-family: $fontOptionalSecondary;
  }
}

.typography1 {
  .preview__bio--name,
  .preview__bio--job {
    font-family: $fontSecondary;
  }
}

.typography2 {
  .preview__bio--name,
  .preview__bio--job {
    font-family: $fontOptionalPrimary;
  }
}

.typography3 {
  .preview__bio--name,
  .preview__bio--job {
    font-family: $fontOptionalSecondary;
  }
}
