.share_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px 61px 23px;
}

.share__container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.share__container__items {
  display: flex;
  align-items: center;
}

.share__arrow__ico {
  // display: flex;
  // justify-items: center;
  // align-items: center;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  text-align: center;
  width: 21px;
  height: 18px;
  //align-self: flex-end;
}

.share__title {
  font-family: $fontTertiary;
  font-size: $sizeText;
  color: $colorTextMenu;
  margin-left: 7px;
  text-transform: uppercase;
}

.share__ico {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 21px;
  height: 18px;
  /*margin-bottom: 28px;*/
}

.fa-share-alt-cards {
  font-size: $sizeText;
  color: $colorSecondary;
}

.share__button {
  align-items: center;
  margin-top: 30px;
}
