<div>
    <div class="profile_container @@position">
        <div class="profile_picture @@adalaber"></div>
        <div class="profile_info @@position_profile">
            <div class=name_adalaber>
                <h4>@@name</h4>
            </div>
            <div class=bio>
                <div class="container">
                    <p class="text_team">@@text</p>
                </div>
            </div>
            <div class="info">
                <ul class="socialMedia">
                    <li class="twitter media">
                        <a class="link_media" href=@@twitter title="Twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <span class="point"></span>

                    <li class="linkedin media">
                        <a class="link_media" href=@@linkedin title="Linkedin" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <span class="point"></span>
                    <li class="github media">
                        <a class="link_media" href=@@github title="GitHub" target="_blank">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </li>
                    <span class="point"></span>
                    <li class="mail media">
                        <a class="link_media" href=@@mail title="Email" target="_blank">
                            <i class="fas fa-envelope"></i>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>