<h2 class="designe">
    DISEÑA
</h2>

<form action="/signup" method="post">
    <p class="paletteForm">COLORES:
        <input type="radio" name="palette" value="bluePalette" required>

        <div class="palette_container">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
        </div>

        <input type="radio" name="palette" value="redPalette" required>
        <input type="radio" name="palette" value="yellowPalette" required>
    </p>
