<section class="design">
  <div class="container__title js-collapsible__trigger">
    <div class="title__items">
      <div><i class="title__items__ico far fa-object-ungroup far"></i></div>
      <h2 class="title">Diseña</h2>
    </div>
    <div class="js-ico"><i class="fas fa-angle-up"></i></div>
  </div>
  <div class="js-collapsible__content content">
    <div>
      <div class="colors ">
        <h3 class="colors_h3">colores</h3>
        <div class="container_palettes">
          <div class="container">
            <input class="pallete js-palettes" id="option1" type="radio" name="palette" value="1" checked />
            <label class=" box" for="option1">
              <span class="box__color1 js-box__color1"></span>
              <span class="box__color2 js-box__color2"></span>
              <span class="box__color3 js-box__color3"></span>
            </label>
          </div>

          <div class="container">
            <input class="pallete2 js-palettes" id="option2" type="radio" value="2" name="palette" />
            <label class=" box" for="option2">
              <span class="box__color4 js-box__color4"></span>
              <span class="box__color5 js-box__color5"></span>
              <span class="box__color6 js-box__color6"></span>
            </label>
          </div>

          <div class="container">
            <input class="pallete3 js-palettes" id="option3" type="radio" value="3" name="palette" />
            <label class=" box" for="option3">
              <span class="box__color7 js-box__color7"></span>
              <span class="box__color8 js-box__color8"></span>
              <span class="box__color9 js-box__color9"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="typography">
        <h3 class="typography_h3">tipografía</h3>
        <div class="container_typography">
          <div class="container_typo">
            <input class="typography1 js-typography" value="0" id="option1_typo" type="radio" name="typography" checked />
            <label class=" box_typo box_typo_prim" for="option1_typo">sally jill</label>
          </div>

          <div class="container_typo">
            <input class="typography2 js-typography" value="1" id="option2_typo" type="radio" name="typography" />
            <label class="box_typo box_typo_sec" for="option2_typo">Sally Jill</label>
          </div>

          <div class="container_typo">
            <input class="typography3 js-typography" value="2" id="option3_typo" type="radio" name="typography" />
            <label class="box_typo box_typo_ter" for="option3_typo">Sally Jill</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
