<div class="fillin ">
  <div class="container__title js-collapsible__trigger">
    <div class="title__items">
      <div>
        <i class="title__items__ico  far fa-keyboard"></i>
      </div>
      <h2 class="title">Rellena</h2>
    </div>
    <div class="js-ico "><i class="fas fa-angle-up"></i></div>
  </div>
  <div class="js-collapsible__content content">
    <div class="name">
      <label class="form__item" for="name">Nombre completo<spam class="asterisk">*</spam></label>
      <input class="item__input js-input-name" type="text" id="name" name="name" placeholder="Ej: Sally Jill" required />
    </div>

    <div class="job">
      <label class="form__item" for="job">Puesto<spam class="asterisk">*</spam></label>
      <input class="item__input js-input-job" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" required />
    </div>

    <div class="photo">
      <label class="form__item" for="photo">Imagen de perfil<spam class="asterisk">*</spam></label>
      <div class="photo__container">
        <input type="file" class="js-form__photo form__photo" name="photo" id="files" required />
        <label class="image__btn" for="files">Añadir imagen</label>
        <img class="js-preview js-photo preview" />
      </div>
    </div>

    <div class="email">
      <label class="form__item" for="email">Email<spam class="asterisk">*</spam></label>
      <input class="item__input js-input-email" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" required />
    </div>
    <div class="phone">
      <label class="form__item" for="phone">Teléfono</label>
      <input class="item__input js-input-phone" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
    </div>

    <div class="linkedin">
      <label class="form__item" for="linkedin">Linkedin<spam class="asterisk">*</spam></label>
      <input class="item__input js-input-linkedin" type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" required />
    </div>

    <div class="github">
      <label class="form__item" for="github">Github<spam class="asterisk">*</spam></label>
      <input class="item__input js-input-github" type="text" id="github" name="github" placeholder="Ej: @sally-hill" required />
    </div>
  </div>
</div>
