<footer class="footer_container">
    <div class="footer_item copy">Ctrl-R &copy 2019</div>

    <div class="footer_item footer_team">
        <ul>
            <li class="menu_footer">
                <a href="index.html#team" class="link">TEAM</a>
            </li>
            <li class="menu_footer">
                <a href="index.html#who" class="link">ABOUT US</a>
            </li>
            <li class="menu_footer">
                <a href="contact.html" class="link">CONTACT</a>
            </li>
        </ul>
    </div>

    <div class="footer_item footer_logo">
        <a href="https://adalab.es/" target="_blank">
            <img class="logo_img" src="assets/images/logo-adalab.png" height="45px">
        </a>
    </div>
</footer>
