<footer class="footer_container">
    <div class="footer_item copy">Ctrl-R &copy 2019</div>

    <div class="footer_item footer_team">
        <ul>
            <li class="menu_footer">
                <a href="./index_es.html#team" class="link">EQUIPO</a>
            </li>
            <li class="menu_footer">
                <a href="./index_es.html#who" class="link">SOBRE NOSOTRAS</a>
            </li>
            <li class="menu_footer">
                <a href="./contact_es.html" class="link">CONTACTO</a>
            </li>
        </ul>
    </div>

    <div class="footer_item footer_logo">
        <a href="https://adalab.es/" target="_blank">
            <img class="logo_img" src="./assets/images/logo-adalab.png" height="45px">
        </a>
    </div>
</footer>
