<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Awesome Profile Card</title>
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Kalam|Squada+One&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ea8c8602a3.js"></script>
</head>
