<div id="home" class="hero @@wrapperClass">
    <div class="header__container">
        <div class="container">
            <div class="title_container">
                <header class="title_head">
                    <h1><a href="./index.html#home" class="title">Ctrl-R</a> </h1>
                </header>
                <div class="flag_container">
                    <a href="./index_es.html">
                        <img class=" flag_es flag_logo" target="_blank" src="./assets/icons/spanish_flag.svg">
                    </a>
                    <a href="./index.html">
                        <img class=" flag_en flag_logo" target="_blank" src="./assets/icons/british_flag.png">
                    </a>
                </div>
            </div>
            <nav class="menu_nav">
                <ul class="list">
                    <li class="menu_element"><a class="link_m" href="./index.html#team">TEAM</a></li>
                    <li class="menu_element"><a class="link_m" href="./index.html#who">ABOUT US</a></li>
                    <li class="menu_element"><a class="link_m" href="./contact.html">CONTACT</a></li>
                </ul>
            </nav>

        </div>

    </div>
    <div class="claim__container">
        <h2 class="claim">Recycle, Refresh, </br> Reinvent yourself</br>
        </h2>
    </div>

</div>
</div>
