<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Section A</title>
  </head>
  <body>
    <section class="sectiona__main">
      <div class="sectiona__preview">
        <button class="sectiona__button">
          <p class="sectiona__button--text">
            <i class="fas fa-mobile-alt">RESET</i>
          </p>
        </button>
        <div class="card">
          <div class="preview__bio">
            <div class="preview__bio--rectangle">
              <h2 class="preview__bio--name">Nombre Apellido</h2>
              <h3 class="preview__bio--job">Front-end developer</h3>
            </div>
          </div>
        </div>
        <img
          src="https://i.pinimg.com/564x/e3/3b/48/e33b4884593de76dbf3cc1b7c6017e51.jpg"
          alt="photo card"
        />
        <div>
          <div><i class="fas fa-mobile-alt"></i></div>
          <div><img /></div>
          <div><img /></div>
          <div><img /></div>
        </div>
      </div>
    </section>
  </body>
</html>
