<section class="sectiona__main">
  <div class="sectiona__main--container">
    <div class="main__button--container">
      <button class="js-sectiona__buton sectiona__button">
        <p class="sectiona__button--text">
          <i class="fas fa-mobile-alt"><span class="reset"> reset</span></i>
        </p>
      </button>
    </div>
    <div class="card js-palettecontainer">
      <div class="preview__bio">
        <div class="preview__bio--rectangle "></div>
        <div class="preview__bio--div">
          <div class="js-typocontainer">
            <h2 class="preview__bio--name js-box1_result">Nombre Apellido</h2>
            <h3 class="preview__bio--job js-preview__job">Front-end developer</h3>
          </div>
        </div>
      </div>

      <div class="js-card__image card__image" alt="photo card"></div>
      <div class="card__social">
        <div class="card__social--div">
          <a class="card__social--button">
            <i class="fas fa-mobile-alt js-icon-phone js-icon-preview"></i>
          </a>
          <a class="card__social--button js-icon-link-email" href="" target="_blank">
            <i class="fab fas fa-envelope js-icon-email js-icon-preview"></i>
          </a>
          <a class="card__social--button js-icon-link-linkedin" href="" target="_blank">
            <i class="fab fa-linkedin-in js-icon-linkedin js-icon-preview "></i>
          </a>
          <a class="card__social--button js-icon-link-github" href="" target="_blank">
            <i class="fab  fa-github-alt js-icon-github js-icon-preview"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
