<section class="sectiona__main">
    <div class="sectiona__main--container">
        <div class="main__button--container">
            <button class="sectiona__button">
        <p class="sectiona__button--text">
          <i class="fas fa-mobile-alt"><span class="reset"> reset</span></i>
        </p>
      </button>
        </div>
        <div class="card js-card">
            <div class="preview__bio">
                <div class="preview__bio--rectangle js-box2_result"></div>
                <div class="preview__bio--div">
                    <h2 class="preview__bio--name js-box1_result">Nombre Apellido</h2>
                    <h3 class="preview__bio--job">Front-end developer</h3>
                </div>
            </div>

            <div class="card__image" alt="photo card"></div>
            <div class="card__social">
                <div class="card__social--div">
                    <div class="card__social--button js-box3_result">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="card__social--button js-box3_result">
                        <i class="fab fas fa-envelope"></i>
                    </div>
                    <div class="card__social--button js-box3_result">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="card__social--button js-box3_result">
                        <i class="fab  fa-github-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
