<div class="share">
  <div class="container__title js-collapsible__trigger">
    <div class="title__items">
      <div><i class="title__items__ico  fas fa-share-alt "></i></div>
      <h2 class="title">Comparte</h2>
    </div>
    <div class="js-ico"><i class="fas fa-angle-up"></i></div>
  </div>
  <div class="js-collapsible__content content">
    <div class="share__button">
      <button class="share__btn"><i class="far fa-address-card"></i>CREAR TARJETA</button>
    </div>
    <div class="created_card">
      <h3 class="created_card_h3"></h3>
      <small class="created_card_small">https://awesome-profile-card.com?id=A456DF0001</small>
      <a class="created_card_button js-button-twitter"> <i class="fab fa-twitter"></i> Compartir en Twitter </a>
    </div>
  </div>
</div>
