<div class="team_container">
    <div class="container">
        <div id="team" class="link_team"></div>
        <h2 class="title_team">TEAM</h2>
        <p class="text_team">
            <strong> Welcome to... <span class="title_ctrl"> Ctrl-R!</span></strong> </p>

        <p class="text_team"> We are five women who changed their lives in this crazy adventure. In a word, <strong> Adalab</strong>. </p>
        <p class="text_team"> Adalab is a social startup which aim is to invest in talented women who didn't have the opportunity to develop their potential. </br> They are doing such a positive and necessary movement to include women in the current digital world.
            </br>
            And that's our situation, our paths crossed in this intense course to become to junior front-end developers! </p>
        <p class="text_team">Eventhough Adalab's course can be quite demanding, it is a great experience, </br>
            giving us different tools and strategies to Recycle, to Refresh and to Reinvent our careers. </p>
        <p class="text_team">You can see how different our backgrounds are, and thanks to that, we have so much knowledge to share and combine. </p>
        <p class="text_team">In this digital society, we have so much to say... </p>
        <p class="text_team"> This is our time,</p>
        <p class="text_team"> <strong> It's time to code!</strong></p>
    </div>
</div>

<div class="square"></div>

<aside class="aside_style">
    <div class="container">
        <div class="strength_container">
            <h3 class="title_sw">Strengths</h3>
            <p class="text_team">
                We come from sectors such as engineering, marketing or design, so we can ensure versatility and many different perspectives. Our curiosity is immeasurable and we are always looking forward to learn something new in order to implement it in our next project.</p>
        </div>
        <div class="weakness_container">
            <h3 class="title_sw">Weaknesses</h3>
            <p class="text_team">Sometimes we find hard to handle stressful situatios. We have the necessity to improve our products constantly so we're never sure of when a project is finished because we'd like to try many other different ways to upgrade them, but that's
                a matter of subjetivity .</p>
        </div>
    </div>
</aside>
</div>