<div class="team_container">
    <div class="container">
        <div id="team" class="link_team"></div>
        <h2 class="title_team">EQUIPO</h2>
        <p class="text_team">
            <strong> ¡Bienvenidos a ... <span class="title_ctrl"> Ctrl-R!</span></strong> </p>

        <p class="text_team"> Somos cinco mujeres que hemos cambiado nuestras vidas en esta loca aventura. En una palabra, <strong> Adalab</strong>. </p>
        <p class="text_team">Adalab es una startup social que invierte en mujeres talentosas dandolas una oportunidad para desarrollar su potencial. </br> Están haciendo un movimiento tan necesario como positivo al incluir las mujeres en el sector tecnológico.
            </br> Esa es nuestra situación, así fue como nuestros caminos se cruzaron en este intensivo curso para convertirnos en desarrolladoras front-end junior. </p>
        <p class="text_team">Aunque este curso es muy exigente, es una experiencia genial, al darnos tanto conocimiento como estrategias para reciclar, refrescar y reinventar nuestras carreras. </p>
        <p class="text_team"> Aquí verás lo diferente que son nuestros pasados, y gracias a ello, tenemos tanto que aportar. </p>
        <p class="text_team"> En esta sociedad digital, nosotras tenemos mucho que decir... </p>
        <p class="text_team"> Este es nuestro momento,</p>
        <p class="text_team"> <strong> ¡Es momento de codificar!</strong></p>
    </div>
</div>

<div class="square"></div>

<aside class="aside_style">
    <div class="container">
        <div class="strength_container">
            <h3 class="title_sw">Fortalezas</h3>
            <p class="text_team">
                We come from sectors such as engineering, marketing or design, so we can ensure versatility and many different perspectives. Our curiosity is immeasurable and we are always looking forward to learn something new in order to implement it in our next project.</p>
        </div>
        <div class="weakness_container">
            <h3 class="title_sw">Debilidades</h3>
            <p class="text_team">Sometimes we find hard to handle stressful situatios. We have the necessity to improve our products constantly so we're never sure of when a project is finished because we'd like to try many other different ways to upgrade them, but that's
                a matter of subjetivity .</p>
        </div>
    </div>
</aside>
</div>