<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>
    <link rel="shortcut icon" href="./assets/images/adalabicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap"
      rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="./assets/icons/libs/css/fontawesome.css" />
    <link href="./assets/icons/libs/css/brands.css" rel="stylesheet" />
    <link href="./assets/icons/libs/css/solid.css" rel="stylesheet" />
    <!-- https://fontawesome.com/how-to-use/on-the-web/setup/getting-started -->
  </head>

  <body class="contact-page">
    <partial src="_hero_es.html" wrapperClass="hero_contact"></partial>
    <main class="main_contact">
      <div class="contact_container">
        <h2 class="title_team">CONTACTO</h2>
        <p class="text_contact">
          ¿Interesada en trabajar con nosotras? ¿Tiene alguna pregunta o
          sugerencia? Rellene el siguiente formulario y le responderemos con la
          mayor brevedad posible.
        </p>
        <br />
        <p class="text_field">
          Todos los campos marcados con <span class="star">*</span> son
          obligatorios.
        </p>
        <form
          class="form"
          action="https://formspree.io/sandracuberor@gmail.com"
          method="POST"
        >
          <label class="label" for="fullname"
            >Nombre completo <span class="star">*</span></label
          >
          <input
            class="item item-name"
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Nombre..."
            required
          />
          <div class="email-phone">
            <div class="email_container">
              <label class="label" for="email"
                >Correo electrónico <span class="star">*</span></label
              >
              <input
                class="item item-email"
                type="email"
                name="email"
                id="email"
                value="nombre.apellido@mail.com"
                required
              />
            </div>
            <div class="phone_container">
              <label class="label" for="phone">Número de teléfono</label>
              <input
                class="item item-phone"
                type="tel"
                name="phone"
                id="phone"
                placeholder="Ej:123456789"
              />
            </div>
          </div>
          <label class="label" for="message"
            >Mensaje <span class="star">*</span></label
          >
          <textarea
            class="item item-message"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="¿Qué necesita?"
            required
          ></textarea>
          <button class="button" type="submit">ENVIAR</button>
        </form>
      </div>
    </main>
    <partial src="_footer_es.html"></partial>
  </body>
</html>
