<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ctrl-r</title>
    <link rel="shortcut icon" href="./assets/icons/adalabicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
    <!-- https://fontawesome.com/how-to-use/on-the-web/setup/getting-started
    <link href="libs/css/fontawesome.css" rel="stylesheet">
  <link href="libs/css/brands.css" rel="stylesheet">
    <link href="libs/css/solid.css" rel="stylesheet"> -->
    <!-- <link href="../assets/icons/libs/css/fontawesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./assets/icons/css/fontawesome.css">
    <link href="./assets/icons/css/brands.css" rel="stylesheet">
    <link href="./assets/icons/css/solid.css" rel="stylesheet">
</head>

<body>
    <section>
        <partial src="_hero_es.html"></partial>
        <partial src="_team_es.html"></partial>
    </section>

    <main>
        <partial src="_main_es.html"></partial>
    </main>

    <partial src="_footer_es.html"></partial>

</body>

</html>