$buttonWidth: 32px;
$buttonHeight: 32px;
$button--border-radius: 16px;
$buttonBorder: solid 2px $color-quaternary;
.landing_button {
    height: 42px;
    width: 129px;
    margin: 38.6px 0 30px 0;
    padding: 10px 20px 10px 20px;
    font-family: $font-tertiary;
    font-size: 16px;
    color: $color-white;
    border: 1.5px solid $color-primary;
    border-radius: 30px;
    background-color: $color-primary;
    @media all and (min-width: 768px) {
        margin: 186px 0 59px 0;
    }
}
