.footer {
  // border-top-style: red solid 2px;

  &__container {
    display: flex;
    color: $color-textLight;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 110px;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 40px;
    }
  }

  &__copy {
    color: $color-textLight;
    font-family: $font-tertiary;
    font-size: $sizetext2;
    padding-bottom: 12px;
  }
}

.logo__adalab {
  height: 40px;
}
