* {
    box-sizing: border-box;
}

.footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px 120px;
}

.footer_item {
    display: grid;
    justify-content: center;
    align-items: center;
}

.copy {
    font-family: $fontsecond;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $colorthird;
}

.menu_footer {
    text-decoration: none;
    display: block;
}

@media (min-width:768px) {
    .footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 110px;
        padding: 0 45px 0 45px;
    }
    .footer_logo {
        grid-row: 2/3;
        padding-bottom: 60px;
        width: 115.9px;
    }
    .copy {
        width: 90px;
        padding-top: 30px;
    }
    .footer_team {
        justify-content: right;
        padding-top: 24px;
    }
    .footer_item.copy,
    .footer_item.footer_logo {
        align-items: flex-start;
    }
}

@media (min-width:1200px) {
    .footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 111px;
        padding: 0 138px 0 138px;
    }
    .footer_logo {
        grid-row: 2/3;
        padding-top: 15px;
    }
}
