.flag_logo {
  position: fixed;
  z-index: 2;
  height: 25px;
  top: 3%;
  border-radius: 20px;
}

.flag_es {
  left: 5%;
}

.flag_en {
  left: 17%;
  @media all and (min-width: 768px) {
    left: 12%;
  }
  @media all and (min-width: 1200px) {
    left: 10%;
  }
}

.title_container {
  display: flex;
  align-items: center;
}

.title_head {
  width: 100%;
  @media all and (min-width: 768px) {
    padding-left: 200px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 421px;
  width: 100%;
  background: url(../images/foto-grupo.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  @media all and (min-width: 768px) {
    background: url(../images/foto-grupo-3.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

.claim__container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translate(0, 50%);
}

.claim {
  text-align: center;
  padding: 15px 15px 45px 15px;
  font-size: 18px;
  margin: 0 15px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  background-color: $colorwhite;
}
