.share {
  width: 100%;

  &__button {
    align-items: center;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  &__btn {
    cursor: pointer;
  }
}

.created_card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  border-top: solid $colorLineBorder 2px;
  border-bottom: solid $colorLineBorder 2px;
  font-family: $fontTertiary;

  &_h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    color: $colorTextLight;
  }

  &_small {
    color: $colorSecondary;
    text-decoration: none;
  }

  &_button {
    margin: 20px;
    padding: 10px;
    background: $twitterButton;
    color: $colorWhite;
    border: none;
    text-decoration: none;
    border-radius: 3px;
  }
}

.created_card_button {
  cursor: pointer;
}
