.link_team {
  position: relative;
  top: -90px;
}

.link_who {
  position: relative;
  top: -80px;
  @media (min-width: 768px) {
    top: -40px;
  }
}

.link_home {
  position: relative;
  top: -150%;
}

.link_media {
  display: inline-block;
  content: "•";
  color: $colortext;
  margin: 2px;
  color: $colorwhite;
}

.fab,
.fas {
  color: $colortext;
  margin-top: 0;
  margin-bottom: 0;
  transition: 1s;
}

.fas:hover {
  color: $colortran;
  transform: scale(1.5);
}

.fab:hover {
  color: $colortran;
  transform: scale(1.5);
}

.point {
  display: flex;
  position: relative;
  align-self: center;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: $colorsecond;
  align-content: space-between;
}

a:-webkit-any-link {
  color: $colorwhite;
  text-decoration: none;
  list-style-type: none;
}

.socialMedia {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  @media all and(min-width: 768px) {
    margin-left: 15px;
    margin-right: 5px;
  }
}

.menu_footer .link {
  color: $colorsecond;
  opacity: 0.75;
  line-height: 2;
  font-weight: 600;
  font-size: 14px;
  font-family: $fontsecond;
  display: grid;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $colortran;
    font-size: 15px;
  }
  @media (min-width: 768px) {
    justify-content: right;
  }
}
