// Typographies
$fontPrimary: "Merriweather", serif;
$fontSecondary: "Montserrat", sans-serif;
$fontTertiary: "Open Sans", sans-serif;

// Additional typographies
$fontOptionalPrimary: "Kalam", cursive;
$fontOptionalSecondary: "Inconsolata", monospace;
