// Typographies
$fontPrimary: "Merriweather", serif;
$fontSecondary: "Montserrat", sans-serif;
$fontTertiary: "Open Sans", sans-serif;

// Additional typographies
$fontOptionalPrimary: "Montserrat", sans-serif; //default
$fontOptionalSecondary: "Kalam", cursive;
$fontOptionalTertiary: "Inconsolata", monospace;
//$fontOptionalQuaternary: "Squada One", cursive;
