/// colors ///
$color-primary: #438792;
$color-secondary: #e17334;
$color-tertiary: #114e4e;
$color-quaternary: #a2deaf;
$color-indexBackground: #f5f5f5;

$color-textLight: #6b6b6b;
$color-textMenu: #54585a;
$color-black: #000000;
$color-withe: #ffffff;

$color-lineLight: #f9f4dc;

$color-cardBackDark: #bfcdd0;
$color-cardBackLight: #dde9ed;

/// sizes ///
$sizetext: 18px;
$sizetext2: 14px;
