/// colors ///
$colorprincipal: #1fcfbda6;
$colortext: #099d8d;
$colorlight:#14d9c4;
$colortran:#3BDAC7;
$colorsecond: #54585a;
$colorblack: #000000;
$colorwhite: white;
$colorthird: #b8b8b9;
/// sizes ///
$sizetext: 16px;
$sizetext2: 14px;
///
// /// colors. Red///
// $colorprincipal: #81171B;
// $colortext: #94160f;
// $colorlight:rgb(246, 121, 113);
// $colortran:#fab1a0;
// $colorsecond: #AD2E24;
// $colorblack: #360404;
// $colorwhite: white;
// $colorthird: rgb(238, 140, 13);
///
// /// colors. Purple///
// $colorprincipal: rgb(68, 4, 68);
// $colortext: #470250;
// $colorlight:rgb(151, 24, 113);
// $colortran:#f278fd;
// $colorsecond: rgb(173, 36, 127);
// $colorblack: #360434;
// $colorwhite: white;
// $colorthird: rgb(219, 13, 238);
// ///
// /// colors. Blue///
// $colorprincipal: rgb(5, 4, 68);
// $colortext: #070250;
// $colorlight:rgb(46, 70, 204);
// $colortran:#7885fd;
// $colorsecond: rgb(57, 36, 173);
// $colorblack: #100436;
// $colorwhite: white;
// $colorthird: rgb(28, 13, 238);
// /// colors. Grey///
// $colorprincipal: rgb(48, 48, 54);
// $colortext: #3d3d47;
// $colorlight:rgb(167, 172, 200);
// $colortran:#d9ddff;
// $colorsecond: rgb(122, 119, 141);
// $colorblack: #3c3a41;
// $colorwhite: white;
// $colorthird: rgb(106, 104, 129);